In [2]:
import warnings
# 不要な警告文非表示
warnings.filterwarnings("ignore")
from pycaret.classification import *
from sklearn.datasets import load_iris
import pandas as pd

In [3]:
iris = load_iris()
X = pd.DataFrame(iris.data, columns=iris.feature_names)
y = pd.DataFrame(iris.target, columns=["target"])
df = pd.concat([X,y], axis=1)

In [4]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [5]:
exp1 = setup(df, target = 'target')

In [6]:
compare_models()

GaussianNB(priors=None, var_smoothing=1e-09)

In [7]:
model = create_model('lda')

In [8]:
tuned_model = tune_model(model, optimize = 'Accuracy')

In [9]:
# モデルの評価指標を確認
evaluate_model(tuned_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param…

In [10]:
final_model = finalize_model(tuned_model)

In [11]:
pred = predict_model(final_model, data = X)

In [12]:
pred.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Label,Score
0,5.1,3.5,1.4,0.2,0,1.0
1,4.9,3.0,1.4,0.2,0,1.0
2,4.7,3.2,1.3,0.2,0,1.0
3,4.6,3.1,1.5,0.2,0,1.0
4,5.0,3.6,1.4,0.2,0,1.0